.floating-nav {
  background: transparent;
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.floating-nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: black;
  font-size: 1.3rem;
}

.floating-nav a:hover {
  background: rgba(26, 27, 27, 0.3);
  color: aquamarine;
}

@media screen and (max-width: 600px) {
  .floating-nav {
    background: red;
    padding: 0;
    left: 47%;
  }
}
