.portfolio h5 {
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.portfolio-container > div {
  background: whitesmoke;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio-container > div:hover {
  background: transparent;
  border-color: var(--color-primary);
  cursor: default;
}

.portfolio-container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-black);
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
}

.experience-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.experience-details svg {
  color: #d35400;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    gap: 1rem;
  }

  .portfolio-container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .portfolio-container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience-content {
    padding: 1rem;
  }
}
