.contacts h5 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.contacts h2 {
  margin-bottom: 3rem;
}

.container.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option {
  background: rgba(228, 228, 228, 0.507);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact-option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.9rem;
  color: rgb(77, 73, 73);
}

.contact-option h4 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  color: lightslategray;
}

.contact-option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(8, 93, 143);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid rgb(236, 233, 236);
  resize: none;
  color: black;
}

@media screen and (max-width: 1024px) {
  .container.contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .contact-option,
  form {
    margin: 0 2rem;
  }

  .container.contact-container {
    width: 100%;
    margin: 0 2rem;
  }
}
